body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #9966CC;
}

#quote-box {
    min-width: 400px;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: white;
    color: #9966CC;
}

#text {
    font-size: 1.5em;
    text-align: center;
    margin: 20px;
}

#author {
    text-align: right;
    margin: 20px;
}

#new-quote {
    float: right;
    margin: 20px;
    color: white;
    background-color: #9966CC;
    border-radius: 5px;
    padding: 5px;
}

#tweet-quote {
    float: left;
    margin: 20px;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: #9966CC;
}

footer {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
    margin-left: 47%;
    margin-bottom: 15px;
}