body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#quote-box {
    min-width: 400px;
    max-width: 600px;
    height: auto;
    border: 3px solid black;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 30%;
}

#text {
    font-size: 1.5em;
    text-align: center;
    margin: 20px;
}

#author {
    text-align: right;
    margin: 20px;
}

#new-quote {
    float: right;
    margin: 20px;
}

#tweet-quote {
    float: left;
    margin: 20px;
}